/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2017, 3:12:55 PM
    Author     : Ashish
*/
    div {
        font-family: Segoe UI Light;
    }

    .container-fluid {
        margin-top: 18vh;
    }

    h1 {
        font-size: 10vh;
        margin-bottom: 5vh;
    }

    h5 {
        font-size: 3vh;
        margin-bottom: 3vh;
    }

    .img-circle {
        border: 0.2em solid #000;
    }

    #links {
        margin-top: 5vh;
        font-size: 1.5em;
    }
            
@media (max-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    .img-circle {
        height: 125px;
        width: 120px;
    }
}
            
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    .img-circle {
        height: 125px;
        width: 120px;
    }
}

@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .img-circle {
        height: 125px;
        width: 120px;
    }
}

@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .img-circle {
        height: 250px;
        width: 240px;
    }
}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .img-circle {
        height: 30vh;
        width: 14.5vw;
    }
}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .img-circle {
        height: 30vh;
        width: 14.5vw;
    }
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    .img-circle {
        height: 30vh;
        width: 14.5vw;
    }
}
